---
layout: 'base.html'
description: "About Euphoria Vapor"
meta-title: 'Your #1 Source for Vape Supplies in Greater Cleveland'
tagTitle: 'About Us | Euphoria Vapor | Cleveland, Ohio'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% block preload %}
<link rel="preload" as="image" href="/assets/images/landing-m.jpg">
{% endblock %}

{% block pageCSS %}
<link rel="stylesheet" href="/css/about.css">
{% endblock %}

<!-- Enter html code below -->
<div class="nicotine-warning-container">
	<p class="cs-text">WARNING: This product contains nicotine derived from tobacco. Nicotine is an addictive chemical.</p>
</div>

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">About Us</h1>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/landing-m.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/landing.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/landing.jpg" alt="cabinets" width="400" height="662">
    </picture>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-left">
            <picture class="cs-picture cs-picture1" aria-hidden="true">
                <source media="(max-width: 600px)" srcset="/assets/images/landing-m.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/landing.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/landing.jpg" alt="house" width="522" height="581">
            </picture>
            <!-- <picture class="cs-picture cs-picture2" aria-hidden="true">
                <source media="(max-width: 600px)" srcset="/assets/images/construction.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/construction.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/construction.jpg" alt="house" width="414" height="400">
            </picture> -->
        </div>
        <!-- Right Content Section-->
        <div class="cs-right">
            <span class="cs-topper">About Us</span>
            <h2 class="cs-title">About Euphoria Vapor</h2>
            <p class="cs-text">
				Euphoria Vapor is proud to provide the highest quality vaping supplies and e-liquids. Whether you’re looking for disposables, pod kits, mod kits or accessories, we have you covered.

			</p>
            <p class="cs-text">
				Established in 2013, the employees of Euphoria Vapor are able to provide you with the leading information from the industry.  Offering nearly 400 different flavors, dozens of devices and premier disposables we have a product to meet your needs.  As a family owned and operated business there is nothing more important to us than you and your family.  We look forward to serving your needs at one of our two locations in Middleburg Heights and Parma.
			</p>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">View both of our locations</h2>
        <a href="/locations" class="button-solid">Locations</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/landing.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/landing.jpg">
        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/landing.jpg" alt="Wide shot of the interior of our Middleburg location" width="1920" height="1280">
        </picture>
</section>