---
layout: 'base.html'
description: 'Contact Euphoria Vapor'
metaTitle: 'Title that shows up on google searches'
tagTitle: 'Contact Us | Euphoria Vapor | Cleveland, Ohio'
permalink: 'contact/'
eleventyNavigation:
    key: Contact
    order: 600
---

{% block preload %}
<link rel="preload" as="image" href="/assets/images/landing.jpg">
{% endblock %}

{% block pageCSS %}
<link rel="stylesheet" href="/css/contact.css">
{% endblock %}

<!-- Enter html code below -->

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">Contact Us</h1>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/landing-m.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/landing.jpg">
        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/landing.jpg" alt="" width="400" height="662">
    </picture>
</section>

<!-- ============================================ -->
<!--                Contact Form                  -->
<!-- ============================================ -->

<section id="cs-contact">
    <div class="cs-container">
        <form id="cs-form" name="Contact Form" method="post">
            <div class="cs-content">
                <span class="cs-topper">Contact</span>
                <h2 class="cs-title">Get in Touch</h2>
                <p class="cs-text">
                    Get in contact with any questions or concerns you have, or see our <a href="/locations">Locations</a> to reach out to an one of our three locations.
                </p>
            </div>
            <label>
                Name
                <input required type="text" id="name" name="name" placeholder="Name">
            </label>
            <label>
                Email
                <input required type="text" id="email" name="email" placeholder="Email">
            </label>
            <label>
                Phone
                <input required type="text" id="phone" name="phone" placeholder="Phone">
            </label>
            <label class="cs-label-message">
                Message
                <textarea required name="Message" id="message" placeholder="Write message..."></textarea>
            </label>
            <button class="cs-button-solid" type="submit">Submit Message</button>
        </form>
    </div>
</section>



<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">View all 3 of our locations</h2>
        <a href="/locations" class="button-solid">Locations</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/landing.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/landing.jpg">
        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/landing.jpg" alt="Wide shot of the interior of our Middleburg location" width="1920" height="1280">
        </picture>
</section>
                                