---
layout: 'base.html'
description: 'Contact Euphoria Vapor'
metaTitle: 'Title that shows up on google searches'
tagTitle: 'Contact Us | Euphoria Vapor | Cleveland, Ohio'
permalink: 'contact/'
eleventyNavigation:
    key: Contact
    order: 600
---

{% block preload %}
<link rel="preload" as="image" href="/assets/images/landing.jpg">
{% endblock %}

{% block pageCSS %}
<link rel="stylesheet" href="/css/contact.css">
{% endblock %}

<!-- Enter html code below -->

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">Contact Us</h1>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/landing-m.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/landing.jpg">
        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/landing.jpg" alt="" width="400" height="662">
    </picture>
</section>

<!-- ============================================ -->
<!--                Contact Form                  -->
<!-- ============================================ -->
<script language="JavaScript">
<!-- 
function goto(form) { var index=form.select.selectedIndex
if (form.select.options[index].value != "0") {
location=form.select.options[index].value;}}
//--></script>

<section id="cs-contact">
    <div class="cs-container">
        <form id="cs-form" name="Store-selector">
            <div class="cs-content">
                <span class="cs-topper">Contact</span>
                <h2 class="cs-title">Get in Touch</h2>
                <p class="cs-text">
                    Get in contact with any questions or concerns you have, or see our <a href="/locations">Locations page</a> to call any one of our three locations.
                </p>
            </div>
			<label id="select-store-container">Which location would you like to contact?</label>
				<select name="select" id="select-store" ONCHANGE="goto(this.form)">
					<option value=#">Pick a location</option>
					<option value="/contact-middleburg">Any</option>
					<option value="/contact-middleburg">Middleburg Hts.</option>
					<option value="/contact-middleburg">Parma</option>
					<option value="/contact-fairview">Fairview</option>
				</select>
        	</form>
    	</div>
</section>



<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">View all 3 of our locations</h2>
        <a href="/locations" class="button-solid">Locations</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/landing.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/landing.jpg">
        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/landing.jpg" alt="Wide shot of the interior of our Middleburg location" width="1920" height="1280">
        </picture>
</section>
