---
layout: 'base.html'
canonical: 'https://www.euphoriavapor.com'
description: 'Euphoria Vapor'
metaTitle: '<!--TODO Update this title -->'
tagTitle: 'Euphoria Vapor | Disposable Vapes, Juice, and Hardware | Cleveland, Ohio'
permalink: '/'
eleventyNavigation:
    key: Home
    order: 100
---

<!-- 
This is to pre load any image above the fold, like hero section backgrounds.
If you do not have any images in your hero section that you need to preload, remove this 
block
-->

{% block preload %}
<link rel="preload" as="image" href="/assets/images/landing.jpg">
{% endblock %}

{% block pageCSS %}
<link rel="stylesheet" href="/css/critical.css">
<link rel="stylesheet" href="/css/local.css">

<!--Defer loading the whole page css-->
<link rel="stylesheet" href="/css/local.css" media="print" onload="this.media='all'; this.onload=null;">
{% endblock %}

<!-- Enter html code below -->

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero">
    <div class="cs-container">
        <div class="cs-flex-group">
            <span class="cs-topper">Euphoria Vapor</span>
            <h1 class="cs-title">Your #1 source for Vape Supplies in Greater Cleveland </h1>
            <!-- <p class="cs-text">
                Tincidunt lobortis feugiat vivamus at augue eget arcu dictum varius. Nibh tortor id aliquet lectus proin nibh condimentum.
            </p> -->
            <a href="/locations" class="cs-button-solid">Locations</a>
        </div>
    </div>

    <!-- Background Image -->
    <picture class="cs-picture" aria-hidden="true">
        <source media="(max-width: 600px)" srcset="/assets/images/landing-m.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/landing.jpg">
        <img loading="lazy" decoding="async" src="/assets/images/landing.jpg" alt="mountains" width="2250" height="1500">
    </picture>
</section>
                                

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-left">
            <picture class="cs-picture cs-picture1" aria-hidden="true">
                <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/cabinets2.jpg" alt="house" width="522" height="581">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-right">
            <span class="cs-topper">About Us</span>
            <h2 class="cs-title">About Euphoria Vapor</h2>
            <p class="cs-text">
                Euphoria Vapor is proud to provide the highest quality vaping supplies and e-liquids. Whether you’re looking for disposables, pod kits, mod kits or accessories, we have you covered.
            </p>
 
            <a href="/about" class="button-solid">More About Us</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--            Extra Content To Rank             -->
<!-- ============================================ -->

<section id="sbs-r">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-left">
            <picture class="cs-picture cs-picture1" aria-hidden="true">
                <source media="(max-width: 600px)" srcset="/assets/images/juice-1.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/juice-1.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/juice-1.jpg" alt="house" width="414" height="400">
            </picture>
            <picture class="cs-picture cs-picture2" aria-hidden="true">
                <source media="(max-width: 600px)" srcset="/assets/images/disposable-1.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/disposable-1.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/disposable-1.jpg" alt="house" width="522" height="581">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-right">
            <span class="cs-topper">Products</span>
            <h2 class="cs-title">What we carry</h2>
            <p class="cs-text">
                In consequat tincidunt turpis sit amet imperdiet. Praesent Class officelan nonatoureanor mauris laoreet, iaculis libero quis. Curabitur et tempus eri consequat tincidunt turpis sit amet imperdiet. Praesent nonatourean olei aptent taciti sociosqu ad litora torquent per.
            </p>
            <p class="cs-text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non tenetur, iure nihil ipsam qui atque commodi id voluptatem nesciunt, quis animi fuga cum doloribus! Eaque laboriosam, unde consectetur iure asperiores ullam. Consequuntur debitis a voluptatibus vitae optio autem explicabo quia neque est quas, in placeat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus modi laudantium voluptatibus rem libero error minus quia eligendi sapiente eos.
            </p>
            <!-- <a href="" class="button-solid">Learn More About our Products</a> -->
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--             TODO: Add Reviews                -->
<!-- ============================================ -->

<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">View all 3 of our locations</h2>
        <a href="/locations" class="button-solid">Locations</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="assets/images/landing.webp">
        <source media="(min-width: 601px)" srcset="assets/images/landing.jpg">
        <img aria-hidden="true" loading="lazy" decoding="async" src="assets/images/landing.jpg" alt="Wide shot of the interior of our Middleburg location" width="1920" height="1280">
        </picture>
</section>

<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>